.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
.main {
  font-size: 7rem;
}
body {
  background-color: #393e46;
}
.dice {
  text-align: center;
  display: inline-block;
  font-size: 2rem;
}
footer {
  margin-top: 10px;
  text-align: center;
}

img {
  width: 50%;
}
